.fondo{
    background-image: url(/img/Site-background-dark.webp);
}

body{
    background-color: #02120b;
    color: #fff;
    font-family: rubik,helvetica,arial,sans-serif;
}

.body{
    width: 95%;
    margin-left: 66px;
    background-image:url("../img/Site-background-dark.webp");
}

.contenedor{
    width: 95%;
    margin: 0 auto;
    padding-top: 28px;
}

.background {
    background-image:url("../img/Site-background-dark.webp");
}
.flex{
    display: flex;
}

a{
    text-decoration: none;
}

.bajar{
    align-items: flex-end;
}

.derecha{
    justify-content: flex-end;
}

.limite{
    justify-content: space-between;
}

.centrar{
    align-items: center;
}

/* header */

.header-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80px 1fr;
}

.logo{
    width: 80px;
    height: 80px;
}

.header-flex{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-left: 20px;
}

.header-flex div a{
    color: #fdfffe;
    font-size: 18px;
    line-height: 1.25px;
    font-weight: bold;
}

.search{
    margin-left: 5px;
    outline: 1px solid #fdfffe;
    align-content: stretch;
}

.search form input{
    width: 370px;
    background-color: transparent;
    padding: 5px;
    border: 1px solid #fdfffe;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.search form input::placeholder{
    color: #fdfffe;
    font-size: 14px;
}

.borde{
    border: 1px solid #fdfffe;
    font-size: 18px;
    padding: 1.5px 5px 1.5px;
}

/* > */

.search form input:focus, .search{
    outline: none;
    border-color: #97ffcb;
}

.search div:hover {
    border-color: #97ffcb;
    color: #97ffcb;
}

.numero{
    color: #fdfffe;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;
}

.pagina{
    color: #fdfffe;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
}
.contenedorBuscar{
    margin-bottom: -3px;
}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav ul li{
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
}

select{
    background-color: transparent;
    outline: none;
    border: none;
    color: #fdfffe;
}

option{
    background-color: #211f3f;
}

/* cesped */

.cesped{
    height: 12px;
    background-image: url("../img/Grass-top-overworld.png");
    background-repeat: repeat-x;
}

/* main */

main{
    margin-top: -3px;
    background-color: rgba(33,31,63,0.96);
    display: flex;
}

.bloque1 {
    padding: 24px 36px;
    flex-basis: 70%;
}

.sobre-titulo p{
    margin: 0;
    font-size: 14px;
    color: #e6e6e6;
}
.sobre-titulo p a{
    color: #2ac55e;
}

h1 {
    font-family: AndyBold;
    font-size: 36px;
    margin: 0;
    margin-top: 10px;
}

.boton{
    height: 30px;
    padding: 0 8px 0 4px;
    outline: 2px solid black;
    border: 3px solid #5974d5;
    background-color: #334885;
    border-radius:10px ;
    font-size: 12px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.boton i {
    font-size: 20px;
    margin: 0 2px;
}

.boton2{
    margin-left: 10px;
    padding: 0 5px;
}

.boton2 i {
    font-size: 20px;
}

.boton:hover{
    background-color: #5974d5;
    color: #ff0;
}

/* contenido */
.caja-contenido p{
    font-size: 14px;
}

.caja-contenido p a{
    color: #2ac55e;
}

.caja-contenido h2{
    font-size: 24px;
    font-family: AndyBold;
    margin: 18px 0 9px;
    padding: 6px 0;
    border-bottom: 1px solid #525169;
}

.lapiz{
    color: #2ac55e;
}

.caja-contenido ul li{
    font-size: 14px;
    margin-bottom: 5px;
}
.caja-contenido ul li a{
    color: #2ac55e;
}
/* carta */
.contenedor-carta{
    padding:50px 15px;
}

.carta{
    width: 270px;
    height: 346px;
    background-color: #334885;
    border-radius: 8px;
}
.carta-titulo{
    height: 51px;
    width: 266px;
    border: 2px solid #5974d5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.carta-titulo h2{
    font-size: 20px;
    font-family: AndyBold,sans-serif;
}

.carta-imagen{
    width: 266px;
    height: 95px;
    border-left:2px solid #5974d5;
    border-right:2px solid #5974d5;
    padding-bottom: 15px;
}

.carta-imagen img{
    width: 266px;
    height: 95px;
}

.carta-subtitulo{
    height: 33px;
    width: 266px;
    border-left:2px solid #5974d5;
    border-right:2px solid #5974d5;
    padding-bottom: 5px;
}

.carta-subtitulo h2{
    margin: 0 auto;
    background-color: #2b3865;
    height: 33px;
    width: 256px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AndyBold;
    border-radius: 6px;
}
.carta-descripcion{
    width: 266px;
    height: 68px;
    border-left:2px solid #5974d5;
    border-right:2px solid #5974d5;
    padding: 10px 0 0 0;
}

.carta-descripcion div{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #2b3865;
    width: 256px;
    border-radius: 6px;
}

.carta-descripcion div ul{
    padding-left: 10px;
    list-style-type: none;
    margin: 3px 0;
}

.carta-descripcion div ul li{
    margin-bottom: 4px;
}

.carta-descripcion div div h3{
    padding-top: 5px;
    margin: 0;
    margin-left: -10px;
}

.carta-descripcion div div h3,.carta-descripcion div div ul li{
    font-size: 15px;
    font-family: AndyBold;
}

.carta-plataforma{
    padding: 11px 0 17px;
    border-left:2px solid #5974d5;
    border-right:2px solid #5974d5;
    border-bottom:2px solid #5974d5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.contenedor-plataforma{
    width: 256px;
    height: 34px;
    margin: 0 auto;
    background-color: #2b3865;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

.carta-plataforma div div h3{
    margin: 0;
    padding-left: 10px;
    font-size: 15px;
    font-family: AndyBold;
}

.plataforma-img{
    padding-right: 40px;
}

.plataforma-img div {
    font-size: 15px;
    font-family: AndyBold;
}

.plataforma-img img {
    margin-left: 5px;
}
/* devuelta al main */
.caja3 h2{
    font-size: 24px;
    font-family: AndyBold;
    margin: 0px 0 9px;
    padding: 6px 0;
    border-bottom: 1px solid #525169;
}

.bloque2{
    flex-basis: 30%;
    padding: 24px 18px;
    background-color: rgba(63,61,87,0.5);
    position: relative;
}

.contenedor-sticky{
    position: sticky;
    top: 24px;
}

.contenedor-sticky ul{
    list-style-type: none;
    padding-left: 0;
}
.contenedor-sticky ul li{
    margin-bottom: 10px;
}
.contenedor-sticky ul li a img{
    border-radius: 4px;
}

.contenedor-sticky ul li a div{
    margin-left: 10px;
    color: #2ac55e;
}

.contenedor-sticky div h2,.links{
    font-size: 14px;
}

.links{
    margin-left: 10px;
    color: #2ac55e; 
}

.links:hover{
    text-decoration-line: underline;
    color: #4ad578;
    
}
.caja3 ul li{
    font-size: 14px;
}
.caja3 p b{
    color: #2ac55e;
    font-size: 14px;
}
footer{
    background-color: #280033;
}
.footer-logo a img{
    height: 46px;
    width: 183px ;
}

.quitarPuntos {
    list-style-type: none;
    padding-left: 0;
}

.contenedor-footer{
    width: 1024px;
    margin: 0 auto;
    padding: 70px 20px 40px;
    display: flex;
    justify-content: space-between;
}

.caja-footer {
    width: 231px;
    height: 344px;
}
.footer-imagen1{
    width: 78px;
    height: 78px;
    margin-right: 18px;
}
.footer-imagen2,.footer-imagen3{
    width: 119px;
    height: 35px;

}

.footer-imagen2{
    margin-bottom: 8px;
}

.apk li{
    margin-right: 15px;
}

.ul-espaciado li{
    margin-bottom: 12px;
    font-size: 14px;
}

.ul-espaciado li a{
    color: #ffc500;
}

.apk li a{
    color: #fdfffe;
}

.contenedor-footer2{
    background-color: #000000;
    color: #ffffff;
}
.contenedor-footer2 .caja{
    width: 95%;
    margin: 0 auto;
}
.caja{
    text-align: center;
}

.caja div{
    padding: 16px;
    font-size: 14px;
}

.caja1{
    border-bottom: 1px solid #525169;
}

.caja2 a{
    color: #ffc500;
    font-weight: bold;
}

.caja2 a:hover{
    text-decoration-line:underline;
    color: #e6e6e6;
}