.fondo{
    background-image: url(/img/Site-background-dark.webp);
}

body{
    background-color: #02120b;
    color: #fff;
    font-family: rubik,helvetica,arial,sans-serif;
}

.body{
    width: 95%;
    margin-left: 66px;
    background-image:url("../img/Site-background-dark.webp");
}

.contenedor{
    width: 95%;
    margin: 0 auto;
    padding-top: 28px;
}

.background {
    background-image:url("../img/Site-background-dark.webp");
}
.flex{
    display: flex;
}

a{
    text-decoration: none;
}

.bajar{
    align-items: flex-end;
}

.derecha{
    justify-content: flex-end;
}

/* header */

.header-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80px 1fr;
}

.logo{
    width: 80px;
    height: 80px;
}

.header-flex{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-left: 20px;
}

.header-flex div a{
    color: #fdfffe;
    font-size: 18px;
    line-height: 1.25px;
    font-weight: bold;
}

.search{
    margin-left: 5px;
}

.search form input{
    width: 370px;
    background-color: transparent;
    padding: 5px;
    border: 1px solid #fdfffe;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.search form input::placeholder{
    color: #fdfffe;
    font-size: 14px;
}

/* > */

.search form input:focus{
    outline: none;
    border-color: #97ffcb;
}

.numero{
    color: #fdfffe;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;
}

.pagina{
    color: #fdfffe;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
}
.contenedorBuscar{
    margin-bottom: -3px;
}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav ul li{
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
}

select{
    background-color: transparent;
    outline: none;
    border: none;
    color: #fdfffe;
}

option{
    background-color: #211f3f;
}

/* cesped */

.cesped{
    height: 12px;
    background-image: url("../img/Grass-top-overworld.png");
    background-repeat: repeat-x;
    z-index: 20;
}

/* main */

main{
    margin-top: -3px;
    background-color: rgba(33,31,63,0.96);
    padding: 24px 36px;
    /* background-color: #211f3ffa; */
}