a {
    text-decoration: none;
}

header {
    background-color: #465B75;
    color:#ffffff;
    padding: 50px 0 0 50px;
}

header nav {
    position: absolute;
    top: 30px;
    right: 50px;
}

header nav a {
    color: #ffffff;
    margin: 10px;
}

header nav a:hover {
    color: #808080;
}

h1 {
    margin: 0;
}

/* Main */

main {
    display: flex;
    background-color: #DEE9F7;
}

.menu {
display: flex;
flex-direction: column;
background-color: #ffffff;
padding: 10px;
border: 1px solid #6A6F75;
}

.menu select {
    margin-bottom: 10px;
}